@model CustomerDTO

@{
	ViewData["Title"] = "Edit Customer";
}

<div class="col-md-8 card p-3 mx-auto top-margin width-min ">
	<h2 class="slogan">Edit Customer`s info</h2>


	<form asp-action="EditCustomer" method="post">
		<div class="form-group row">
			@Html.HiddenFor(c =>c.CustomerId)
			<div class="col-md-6 form-group form-margin">
				<label asp-for="FirstName">First Name</label>
				<input asp-for="FirstName" class="form-control"/>
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class=" col-md-6 form-group form-margin">
				<label asp-for="LastName">Last Name</label>
				<input asp-for="LastName" class="form-control"/>
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="col-md-5 form-group form-margin">
				<label asp-for="PhoneNumber">Phone Number</label>
				<input asp-for="PhoneNumber" class="form-control"/>
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="col-md-7 form-group form-margin">
				<label asp-for="Email">Email</label>
				<input asp-for="Email" class="form-control"></input>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-outline-primary button-top-margin button-margin">Save</button>
		</div>
	</form>
</div>