@{
    ViewData["Title"] = "Orders";
}

<div class="text-center slogan">
    <h3 class="display6">Embrace the Uniqueness,<br />Cherish Every Client!</h3>
</div>

<button type="button" class="btn btn-outline-primary">+ New Order</button>

<div>
    <table id="main-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th class="type-column">Type</th>
                <th>Brand</th>
                <th>Model</th>
                <th class="serial-number">Serial number</th>
                <th>Status</th>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="type-column">Guitar</td>
                <td>Fender</td>
                <td>Stratocaster</td>
                <td>11111</td>
                <td>Active</td>
                <td>John Doe</td>
            </tr>
            <tr>
                <td>2</td>
                <td class="type-column">Piano</td>
                <td>Yamaha</td>
                <td>Grand</td>
                <td>qwerty1</td>
                <td>Inactive</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="type-column">Piano</td>
                <td>Yamaha</td>
                <td>Grand</td>
                <td>qwerty1</td>
                <td>Inactive</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td>4</td>
                <td class="type-column">Guitar</td>
                <td>Fender</td>
                <td>Stratocaster</td>
                <td>11111</td>
                <td>Active</td>
                <td>John Doe</td>
            </tr>
        </tbody>
    </table>
</div>


