
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.slogan {
    margin-top: 30px;
    margin-bottom: 30px;
    color: cornflowerblue
}

@media (max-width: 600px) {
    .type-column {
        display: none; 
    }
}

.navbar {
    min-width: 400px;
    padding: 0px;
    margin-bottom: 0px;
}

.display6 {
    min-width: 400px;
}

.table-striped {
    border: 1px solid rgba(100, 149, 237, 1);
    margin-top: 2px;
    min-width: 400px;
}

.table-hover tbody tr.highlight:hover td {
    background-color: rgba(100, 149, 260, 0.3) !important;
}
#time-display,
#date-display {
    text-align: right;
    margin-right: 10px;
}
@media (max-width: 600px) {
    #time-display,
    #date-display {
        display: none;
    }
}
#logo {
    margin-left: 20px; 
    margin-right: 15px; 
}
.top-margin{
    margin-top: 15px
}
.width-min {
    min-width: 400px;
}
.button-top-margin {
    margin-top: 10px;
}
.toast-message {
    font-weight: bold;
    color: rgba(100, 149, 237, 1);
}
.button-margin {
    margin-left: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 80px; 
    height: 40px
}
.new-customer-button {
    margin-left: px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 150px;
    height: 40px
}
.form-margin {
    margin-bottom: 10px;
}
#main-table tbody tr td a {
    color: inherit;
    text-decoration: none;
    cursor: default;
}